<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/detalleProducto.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
  </head>

  <style>
    a {
      text-decoration: none;
    }
  </style>
  <body>
    <header>
      <% if (locals.usuario) {%>
        <%-include('../partials/header', {usuario: usuario})%>
        <% } else {%>
        <%-include('../partials/header')%>
        <%}%>
    </header>

    <main>
      <div class="principalDiv">
        <img id="imgDetalle" src="/images/productos/<%= producto.imagen %>" alt="" />

        <br />
        <div id="listaDescripcion">
          <br />
          <div class="nombre"><%= producto.nombre %></div>
          <br />
          <div class="categoria">Categoria</div>
          <div class=""><p><%= producto.categoria %></p></div>
          <br />
          <p class="descripcion">
            <%= producto.descripcion %>
          </p>
          <div class="colores"><p>Colores</p>
            <div><p><%= producto.colores %></p></div>
       
        </div>
        </div>
        <br />
        <div id="listaBoton">
          <div class="contenedorCarrito">
            <div class="precio">$<%= producto.precio %></div>
            <br />
            <button id="botonAñadir">Añadir al carrito</button>
          </div>

          <%if (locals.usuario && usuario.categoria == "administrador") {%>
          <div id="contenedorBotones">
            <a href="editarProducto/<%= producto.id %>"><button class="botonDetalle">Editar</button></a> 
            <form method="post" action="<%= producto.id %>?_method=DELETE">
              <button class="botonDetalle">Eliminar</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </main>
    <footer><%-include('../partials/footer')%></footer>
  </body>
</html>
