<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../partials/head')%>
      <title>Login</title>
      <link rel="stylesheet" href="/stylesheets/estiloLogin.css" />
      <link rel="stylesheet" href="/stylesheets/estilos.css" />
      <link rel="stylesheet" href="/stylesheets/normalize.css" />
    </head>
  </head>
  <body>
    <% if (locals.usuario) {%> <%-include('../partials/header', {usuario:
    usuario})%> <% } else {%> <%-include('../partials/header')%> <%}%>

    <article>
      <% if (locals.errores) {%>
      <h5 class="errorText"><%= errores.msg%></h5>
      <% }%>

      <form
        action="/users/editarPassword/<%=usuario.id%>?_method=PUT"
        method="post"
      >
      <input name="id" type="hidden" value="<%= usuario.id%>">
        <strong>Contraseña actual:</strong>
        <div>
          <input
            class="campo"
            type="text"
            name="password_actual"
          />
        </div>
        <strong>Nueva contraseña:</strong>
        <div>
          <input class="campo" type="password" name="nueva_password" />
        </div>
        <strong>Confirmar nueva contraseña:</strong>
        <div><input class="campo" type="password" name="confirmarPass" /></div>
        <button class="boton" type="submit">Guardar</button>
      </form>
      <a href="">¿Olvidaste tu contraseña?</a>
      <a href="formatoRegistro">¿No tienes cuenta?,registrate aqui </a>
    </article>

    <%-include('../partials/footer') %>
  </body>
</html>
