<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/estiloFormato.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
  </head>
    
    
  <body>
        <% if (locals.usuario) {%>
            <%-include('../partials/header', {usuario: usuario})%>
            <% } else {%>
            <%-include('../partials/header')%>
            <%}%>
    

    <article id="formato">
      <form method="POST"  action="/users/<%= usuarioEditar.user_id%>?_method=PUT" enctype="multipart/form-data">
        <strong>Nombre:</strong>
        <div>
          <input
            type="text"
            name="nombre"
            class="campo <%= locals.errors && errors.nombre ? 'campoError' : ''%>"
            value="<%= locals.usuarioEditar  ?  usuarioEditar.name : oldData.nombre %>"
          />
          <% if(locals.errors && errors.nombre) { %>
          <div class="errorText divError"><%= errors.nombre.msg %></div>
          <% } %>
        </div>
        <br />
        <strong>Apellido:</strong>
        <div>
          <input
            type="text"
            name="apellido"
            class="campo <%= locals.errors && errors.apellido ? 'campoError' : ''%>"
            value="<%= locals.usuarioEditar  ?  usuarioEditar.last_name : oldData.apellido %>"
          />
          <% if(locals.errors && errors.apellido) { %>
          <div class="errorText divError"><%= errors.apellido.msg %></div>
          <% } %>
        </div>
        <br />
        <strong>Nombre de usuario:</strong>
        <div>
          <input
            type="text"
            name="nombre_usuario"
            class="campo <%= locals.errors && errors.nombre_usuario ? 'campoError' : ''%>"
            value="<%= locals.usuarioEditar  ?  usuarioEditar.username : oldData.nombre_usuario %>"
          />
          <% if(locals.errors && errors.nombre_usuario) { %>
          <div class="errorText divError"><%= errors.nombre_usuario.msg %></div>
          <% } %>
        </div>
        <br />
        <strong>Correo:</strong>
        <div>
          <input
            type="email"
            name="email"
            class="campo <%= locals.errors && errors.email ? 'campoError' : ''%>"
            value="<%= locals.usuarioEditar  ?  usuarioEditar.email : oldData.email %>"
          />
          <% if(locals.errors && errors.email) { %>
          <div class="errorText divError"><%= errors.email.msg %></div>
          <% } %>
        </div>
        <br />
        <strong>Categoria:</strong>
        <div>
          <select class="campo <%= locals.errors && errors.categoria ? 'campoError' : ''%>" name="categoria" id="categoria">
            <option value="undefined" <%= locals.oldData && oldData.categoria != 'undefined' ? '' : 'selected'  %>>--Seleccione una categoria--</option>
            <% categorias.forEach(categoria => { %>
            <option value="<%= categoria.user_category_id %>" <%= locals.oldData && (categoria == oldData.categoria) || (categoria == usuarioEditar.user_category_name) ? 'selected' : '' %>>
              <%= categoria.name %>
            </option>
            <% }) %>
          </select>
          <% if(locals.errors && errors.categoria) {  %>
            <div class="errorText divError"><%= errors.categoria.msg %></div>
            <% } %>
        </div>
        <br />
        <strong>Foto de perfil:</strong>
        <div><input type="file" name="imagen" class ="campo <%= locals.errors && errors.imagen ? 'campoError' : ''%>"/>
          <% if(locals.errors && errors.imagen) {  %>
            <div class="errorText divError"><%= errors.imagen.msg %></div>
            <% } %>
        </div>
        <br />
        <button class="boton" type="submit">
          <strong>Guardar</strong>
        </button>
      </form>
    </article>
    <footer>
      <%-include('../partials/footer')%>
    </footer>
    
  </body>
</html>
