<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/estiloFormato.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
  </head>

  <body>
    <header><%-include('../partials/header')%></header>
 
    <article id="formato">
      <form
        action="/users/registrar"
        method="post"
        enctype="multipart/form-data"
      >
        <strong>Nombre:</strong>
        <div id="contenedorNombre">
          <input
            type="text"
            name="nombre"
            class="campo <%= locals.errors && errors.nombre ? 'campoError' : ''%>"
            value="<%= locals.oldData && oldData.nombre ? oldData.nombre : '' %>"
          />
          <div class="errorText divError">
          <% if(locals.errors && errors.nombre) { %>
          <%= errors.nombre.msg %>
          <% } %>
        </div>
        </div>
        <br />
        <strong>Apellido:</strong>
        <div id="contenedorApellido">
          <input
            type="text"
            name="apellido"
            class="campo <%= locals.errors && errors.apellido ? 'campoError' : ''%>"
            value="<%= locals.oldData && oldData.apellido ? oldData.apellido : '' %>"
          />
          <div class="errorText divError">
          <% if(locals.errors && errors.apellido) { %>
          <%= errors.apellido.msg %>
          <% } %>
        </div>
        </div>
        <br />
        <strong>Nombre de usuario:</strong>
        <div id="contenedorNombreUsuario"> 
          <input
            type="text"
            name="nombre_usuario"
            class="campo <%= locals.errors && errors.nombre_usuario ? 'campoError' : ''%>"
            value="<%= locals.oldData && oldData.nombre_usuario ? oldData.nombre_usuario : '' %>"
          />
          <div class="errorText divError">
          <% if(locals.errors && errors.nombre_usuario) { %>
          <%= errors.nombre_usuario.msg %>
          <% } %>
        </div>
        </div>
        <br />
        <strong>Correo:</strong>
        <div id="contenedorEmail">
          <input
            type="email"
            name="email"
            class="campo <%= locals.errors && errors.email ? 'campoError' : ''%>"
            value="<%= locals.oldData && oldData.email ? oldData.email : '' %>"
          />
          <div class="errorText divError">
          <% if(locals.errors && errors.email) { %>
          <%= errors.email.msg %>
          <% } %>
        </div>
        </div>
        <br />
        <strong>Contraseña:</strong>
        <div id="contenedorPassword">
          <input
            type="password"
            name="contraseña"
            class="campo <%= locals.errors && errors.contraseña ? 'campoError' : ''%>"
            value="<%= locals.oldData && oldData.contraseña ? oldData.contraseña : '' %>"
          />
          <div class="errorText divError">
          <% if(locals.errors && errors.contraseña) { %>
          <%= errors.contraseña.msg %>
          <% } %>
        </div>
        </div>
        <br />
        <strong>Confirmar Contraseña:</strong>
        <div id="contenedorConfirmarPass"><input class="campo" type="password" name="confirmarPass" />
          <div class="errorText divError">
            <% if(locals.errors && errors.confirmarPass) { %>
            <%= errors.confirmarPass.msg %>
            <% } %>
          </div>
        </div>
        
        <br />
        <strong>Categoria:</strong>
        <div id="contenedorCategoria">
          <select class="campo <%= locals.errors && errors.categoria ? 'campoError' : ''%>" name="categoria" id="categoria">
            <option value="" <%= locals.oldData && oldData.categoria != '' ? '' : 'selected'  %>>--Seleccione una categoria--</option>
            <% categorias.forEach(categoria => { %>
            <option value="<%= categoria.user_category_id %>" <%= locals.oldData && categoria.category_id == oldData.categoria ? 'selected' : '' %>>
              <%= categoria.name %>
            </option>
            <% }) %>
          </select>
          <div class="errorText divError">
          <% if(locals.errors && errors.categoria) {  %>
            <%= errors.categoria.msg %>
            <% } %>
          </div>
        </div>
        <br />
        <strong>Foto de perfil:</strong>
        <div id="contenedorImagen"><input type="file" name="imagen" class ="campo <%= locals.errors && errors.imagen ? 'campoError' : ''%>"/>
          <div class="errorText divError">
          <% if(locals.errors && errors.imagen) {  %>
            <%= errors.imagen.msg %>
            <% } %>
          </div>
        </div>
        <br />
        <button class="boton" type="submit">
          <strong>Registrarme</strong>
        </button>
      </form>
    </article>
    <footer><%-include('../partials/footer')%></footer>
  </body>
  <script src="/javascripts/Validaciones usuarios/ValidacionesRegistro.js"></script>
</html>
