<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../partials/head')%>
      <title>Login</title>
      <link rel="stylesheet" href="/stylesheets/estiloLogin.css" />
      <link rel="stylesheet" href="/stylesheets/estilos.css" />
      <link rel="stylesheet" href="/stylesheets/normalize.css" />
      
    </head>
  
  </head>
  <body>
    <header>
      <%-include('../partials/header')%>
    </header>
  

    <article>
      <% if (locals.errores) {%>
        <h5 class="errorText"><%= errores.msg%></h5>
        <% }%>

      
      <form action="/users/login" method="post">
        <strong>Correo electronico:</strong>
        <div><input class= "campo" type="text" name="email" value="<%= locals.oldData && oldData.email ? oldData.email : ''%>"></div>
        <strong>Contrase単a:</strong>
        <div><input class= "campo" type="password" name="password"> </div>
        <div><input type="checkbox" name="recordarme"><label for="">Recordarme</label></div>
        <button class="boton" type="submit">Login</button>
       
      </form>
        <a href="">多Olvidaste tu contrase単a?</a>
        <a href="formatoRegistro">多No tienes cuenta?,registrate aqui </a>
    </article>
    
      
    <%-include('../partials/footer') %>
  </body>
  
</html>
