<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/estiloPerfil.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <title>Perfil de usuario</title>
  </head>
  <body>
    <% if (locals.usuario) {%> <%-include('../partials/header', {usuario:
    usuario})%> <% } else {%> <%-include('../partials/header')%> <%}%>

    <div id="contenedorPrincipal">
      <div id="contenedorFoto">
        <div id="contenedorFotoPeque">
          <img
            id="fotoPerfil"
            src="/images/users/<%= usuarioDetalle.image %>"
            alt="No halle nada"
          />
        </div>
      </div>

      <div id="contenedorDetalles">
        <div>Nombre de usuario</div>
        <p><%= usuarioDetalle.username%></p>
        <div>Nombre</div>
        <p><%= usuarioDetalle.name%></p>
        <div>Apellidos</div>
        <p><%= usuarioDetalle.last_name%></p>
        <div>Correo electronico</div>
        <p><%= usuarioDetalle.email%></p>
        <div>Categoria</div>
        <p><%= usuarioDetalle.user_category_name%></p>
        <a href="/users/editarPassword/<%= usuario.id%>"
          ><button class="boton">Cambiar contraseña</button></a
        >
      </div>
      <div id="contenedorBotones">
        <a href="/users/editar/<%= usuario.id%>"
          ><button class="boton">Editar perfil</button></a
        >
        <a href="/users/logout"><button class="boton">Cerrar sesion</button></a>
        <form action="/users/<%= usuario.id%>?_method=DELETE" method="post">
            <button class="boton" id="botonEliminar">
              Eliminar cuenta
            </button>
        </form>
      </div>
    </div>

    <%- include("../partials/footer")%>
  </body>
</html>
