<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/estiloPerfil.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <title>Perfil de usuario</title>
  </head>
  <body>
    <% if (locals.usuario) {%> <%-include('../partials/header', {usuario:
    usuario})%> <% } else {%> <%-include('../partials/header')%> <%}%>

    <div id="contenedorPrincipal">
      <div id="contenedorFoto">
        <div id="contenedorFotoPeque">
          <img id="fotoPerfil" src="/images/users/<%= usuarioDetalle.imagen %>" alt="No halle nada" />
        </div>
      </div>
      
      <div id="contenedorDetalles">
        <div>Nombre de usuario</div>
        <p><%= usuarioDetalle.nombre%></p>
        <div>Apellidos</div>
        <p><%= usuarioDetalle.apellido%></p>
        <div>Correo electronico</div>
        <p><%= usuarioDetalle.email%></p>
        <div>Categoria</div>
        <p><%= usuarioDetalle.categoria%></p>
      </div>
      <div id="contenedorBotones">
        <a href="/users/editar/<%= usuario.id%>"><button class="boton">Editar perfil</button></a>
        <a href="/users/logout"><button class="boton">Cerrar sesion</button></a>
        
      </div>
    </div>

    <%- include("../partials/footer")%>
  </body>
</html>
